nav {
    height: 120px;
    width: 1351px;
    background-color: #4056A1;
    color: #FFFFFF;
    font-family:'Source Sans Pro', sans-serif;
    position: sticky; 
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center

}

.nav {
    min-width: 100%;
    position: relative;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo {
    font-family: 'Bungee';
    font-size: xx-large;
    text-decoration: none;
    color: inherit;
    cursor: default; 
}

.new_tweet_header {
   cursor: pointer;
   display: flex;
   flex-direction: column;
   align-items:center; 
}

#write {
    font-family:'Source Sans Pro Semibold 600', sans-serif;
}

.fa-solid.fa-angles-down {
    color: rgb(173, 13, 13);
    width: 24px;
    
}




